<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/articles.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="articles-container">
      <ul>
        <% articles.reverse().map((article) => { %>
          <li class="articles-list-item">
            <a href="./article/<%= article.id %>.html">
              <h1><%= article.title %></h1>
              <% if (article.subtitle) { %>
                <h2><%= article.subtitle %></h2>
              <% } %>
              <time><%= article.date %></time>
              <ul class="articles-tags">
                <% article.tags.map((tag) => { %>
                  <li>#<%= tag.trim() %></li>
                <% }) %>
              </ul>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
