<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%- article.title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../src/scss/init.scss">
  <link rel="stylesheet" href="../../src/scss/article.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <article id="article-container">
      <h1 id="article-title">
        <%- article.title %>
      </h1>
      <% if (article.subtitle) { %>
        <h2 id="article-subtitle">
          <%- article.subtitle %>
        </h2>
      <% } %>
      <time id="article-date">
        <%- article.date %>
      </time>

      <section id="article-content-container">
        <%- article.content %>
      </section>

      <section id="article-navigation">
        <% if (nextArticle) { %>
          <div class="article-navigation-item article-navigation-next">
            <a href="/article/<%- nextArticle.id %>.html">
              <div class="article-navigation-arrow article-navigation-next">＜</div>
              <div class="article-navigation-content article-navigation-next">
                <p class="article-navigation-title"><%- nextArticle.title %></p>
                <p class="article-navigation-subtitle"><%- nextArticle.subtitle %></p>
              </div>
            </a>
          </div>
        <% } %>
        <% if (prevArticle) { %>
          <div class="article-navigation-item article-navigation-prev">
            <a href="/article/<%- prevArticle.id %>.html">
              <div class="article-navigation-arrow article-navigation-prev">＞</div>
              <div class="article-navigation-content article-navigation-prev">
                <p class="article-navigation-title"><%- prevArticle.title %></p>
                <p class="article-navigation-subtitle"><%- prevArticle.subtitle %></p>
              </div>
            </a>
          </div>
        <% } %>
      </section>

      <section id="article-list-button-container">
        <a href="/articles.html">
          <div id="article-list-button">📚</div>
        </a>
      </section>
    </article>
  </main>

  <script defer src="../../src/ts/init.ts"></script>
</body>
